<style type="text/css">
body{
    background: #01FCD7;
}
#container{
    width:500px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 45%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: monospace;

}

/* Full-width inputs */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: monospace;
    background-color : blue;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #01AFFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: blue;
    border: 1px solid #50FCE7;
}

option {
    font-family: monospace;
    background-color : white;
}


</style>
